Package: xrandr-indicator
Version: 0.1-1
Architecture: all
Maintainer: Nathan Osman <nathan@quickmediasolutions.com>
Installed-Size: 51
Depends: python3-gi, gir1.2-appindicator3-0.1
Section: gnome
Priority: extra
Homepage: https://github.com/SergKolo/xrandr-indicator
Description: Monitor resolution indicator
 Indicator for easily switching between monitor resolutions.
